{% extends "base.html" %}

{% block title %}Комментарии о взятках{% endblock %}

{% block content %}
    <h1>Комментарии о взятках и власти</h1>
    <table>
        <thead>
            <tr>
                <th>Комментарий</th>
                <th>Лайки</th>
                <th>Пользователь</th>
                <th>Ссылка на пользователя</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in matched_comments %}
            <tr>
                <td>{{ comment.comments }}</td>
                <td>{{ comment.likes }}</td>
                <td>{{ comment.user }}</td>
                <td><a href="{{ comment.user_url }}" target="_blank">Профиль</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
