{% extends "base.html" %}

{% block title %}Кластеры комментариев{% endblock %}

{% block content %}
    <h1>Кластеры комментариев</h1>
    <table>
        <thead>
            <tr>
                <th>Комментарий</th>
                <th>Кластер</th>
            </tr>
        </thead>
        <tbody>
            {% for row in tables %}
            <tr>
                <td>{{ row.Комментарий }}</td>
                <td>{{ row.Кластер }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
