{% extends "base.html" %}

{% block title %}Статистические характеристики длины комментариев{% endblock %}

{% block content %}
<h1>Статистические характеристики длины комментариев по тональности</h1>
<table>
    <thead>
        <tr>
            <th>Тональность</th>
            <th>Количество</th>
            <th>Средняя длина</th>
            <th>Стандартное отклонение</th>
            <th>Минимальная длина</th>
            <th>25-й перцентиль</th>
            <th>Медиана</th>
            <th>75-й перцентиль</th>
            <th>Максимальная длина</th>
        </tr>
    </thead>
    <tbody>
        {% for row in tables %}
        <tr>
            <td>{{ row.sentiment }}</td>
            <td>{{ row['Количество'] }}</td>
            <td>{{ row['Средняя длина'] }}</td>
            <td>{{ row['Стандартное отклонение'] }}</td>
            <td>{{ row['Минимальная длина'] }}</td>
            <td>{{ row['25-й перцентиль'] }}</td>
            <td>{{ row['Медиана'] }}</td>
            <td>{{ row['75-й перцентиль'] }}</td>
            <td>{{ row['Максимальная длина'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
