{% extends "base.html" %}

{% block title %}Scilla - Главная{% endblock %}

{% block content %}
    <h1>Scilla</h1>
    <section>
        <h2>Спарсить комментарии</h2>
        <form action="/parse_comments" method="post">
            <input type="text" name="urls" placeholder="Введите ссылку" required>
            <select name="source" required>
                <option value="youtube">YouTube</option>
                <option value="habr">Habr</option>
                <option value="reddit">Reddit</option>
                <option value="steam">Steam</option>
            </select>
            <button class="form-action-button" type="submit">Парсить</button>
        </form>
    </section>

    <section>
        <h2>Анализ комментариев</h2>
        <form action="/analyze_comments" method="post">
            <label for="action">Выберете аналитику:</label>
            <select name="action" id="action" required>
                <option value="wordcloud">Создать Облако Слов</option>
                <option value="sentiment">Эмоциональный окрас</option>
                <option value="max_likes">Топ по лайкам</option>
                <option value="histogram">Создать гистограмму</option>
            </select>
            <button class="form-action-button" type="submit">Анализировать</button>
        </form>
    </section>

    <section>
        <h2>Выберете слово из комментариев</h2>
        <form action="/search_word" method="post">
            <input type="text" name="word" placeholder="Введите слово" required>
            <button class="form-action-button" type="submit">Искать</button>
        </form>
    </section>

    <nav>
        <a href="/sentiment_distribution">Распределение тональности комментариев</a>
        <a href="/comment_length_distribution">Распределение длины комментариев по тональности</a>
        <a href="/comment_length_stats">Статистические характеристики длины комментариев по тональности</a>
        <a href="/bribe_comment_count">Количество комментариев по взяткам</a>
        <a href="/corruption_clusters">Кластеры о коррупции</a>
        <a href="/cluster_heatmap">Тепловая карта схожести кластеров</a>
        <a href="/map">Карта с упоминанием городов России</a>
    </nav>
{% endblock %}
