{% extends "base.html" %}

{% block title %}Анализ тональности комментариев{% endblock %}

{% block content %}
    <div class="results-container">
        <h1>Анализ тональности комментариев</h1>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Комментарий</th>
                        <th>Оценка</th>
                        <th>Количество лайков</th>
                        <th>Эмоциональный окрас</th>
                        <th>Пользователь</th>
                        <th>Ссылка на пользователя</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in tables %}
                    <tr>
                        <td>{{ row.comment }}</td>
                        <td>{{ row.rating }}</td>
                        <td>{{ row.like_count }}</td>
                        <td>{{ row.sentiment_score }}</td>
                        <td>{{ row.user }}</td>
                        <td><a href="{{ row.user_url }}" target="_blank">Профиль</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
